<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Themes Industry">
	<!-- description -->
	<meta name="description"
		content="Product is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and HTML5 template with 14 ready home page demos.">
	<!-- keywords -->
	<meta name="keywords"
		content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, faq">
	<!-- Page Title -->
	<title>letscipher</title>
	<!-- Favicon -->
	<link rel="icon" href="digital-marketing/img/logo.png">
	<!-- Bundle -->
	<link rel="stylesheet" href="vendor/css/bundle.min.css">
	<!-- Plugin Css -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="vendor/css/cubeportfolio.min.css">
	<link rel="stylesheet" href="vendor/css/owl.carousel.min.css">
	<link rel="stylesheet" href="digital-marketing/css/animate.min.css">
	<link rel="stylesheet" href="digital-marketing/css/jquery.fancybox.css">
	<link rel="stylesheet" href="digital-marketing/css/jquery.fancybox.min.css">
	<link rel="stylesheet" href="digital-marketing/css/line-awesome.min.css">
	<!-- Style Sheet -->
	<link rel="stylesheet" href="digital-marketing/css/style.css">
	<style>
		@media screen and (min-width: 768px) {
			.mentor-box {
				height: 250px;
				border: 1px solid;
				width: 50%;
				box-shadow: 1px 3px 5px rgba(255, 193, 7, 0.6);
				border-radius: 16px;
			}

			.display-menu {
				display: none;
			}

			.dev-box {
				margin-top: 100px;
				border-radius: 16px;
			}
		}

		@media screen and (max-width: 769px) {
			.mentor-box {
				height: 300px;
				border: 1px solid;
				width: 80%;
				box-shadow: 1px 3px 5px rgba(255, 193, 7, 0.6);
				border-radius: 16px;
			}

			.small-logo {
				max-width: 180px;
				margin-top: -63px !important;
			}

			.dev-box {
				margin-bottom: 10px;
				border-radius: 16px;
			}
		}

		.social-icons {
			position: absolute;
			right: 40px;
		}

		.photo-box {
			height: 200px;
			border: 1px solid black;
			width: 100%;
		}

		.text-box {
			border: 1px solid black;
			width: 100%;
			padding: 30px;
			background-color: #70CEF9;
		}

		.icon-circle {
			border-radius: 50%;
			border: 1px solid black;
			height: 30px;
			width: 30px;
			position: relative;
			margin-top: 15px;
		}

		.icon-circle-social {
			border-radius: 50%;
			border: 1px solid black;
			height: 30px;
			width: 30px;
			position: relative;
			margin-top: 30px;
			display: inline-block;
			margin-right: 20px;
			color: black;
		}

		.icon-circle-social-fb:hover {
			background-color: #3B5998;
			color: white;
			cursor: pointer;
		}

		.icon-circle-social-li:hover {
			background-color: #0077B5;
			color: white;
			cursor: pointer;
		}

		.icon-circle-social-insta:hover {
			background-color: #DE306B;
			color: white;
			cursor: pointer;
		}

		.icon-color {
			color: black !important;
		}

		.icon-item {
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 20px;
			transform: translate(-50%, -50%);
		}

		.icon-text {
			position: absolute;
			margin-top: -27px;
			margin-left: 40px;
		}
	</style>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="150">

	<!--  PRELOADER  -->
	<div class="loader-area">
		<div class='loader'>
			<div class='one'></div>
			<div class='two'></div>
			<div class='three'></div>
		</div>
	</div>

	<!-- START NAVBAR SECTION -->

	<header>

		<!--    NAVBAR FOR LARGE SCREEN-->
		<nav id="my-nav1" class="navbar navbar-expand-lg navbar-light rounded-bar transparent-bar">

			<div class="logo small-screen small-logo">
				<a href="#home" class="scroll "><img src="digital-marketing/img/logo.png" alt="Logo Img"></a>
			</div>

			<div class="container bg-trans-color">
				<div class="row no-gutters w-100">
					<div class="collapse navbar-collapse" id="navbarSupportedContent1">
						<div class="collapse navbar-collapse">
							<div class="col-3 col-md-2 col-lg-3 text-left p-0">
								<div class="logo">
									<a href="#home" class="scroll"><img src="digital-marketing/img/logo.png"
											alt="Logo Img"></a>
								</div>
							</div>
							<div class="col-6 p-0">
								<ul id="primary" class="navbar-nav text-center">

									<li class="nav-item">
										<a class="nav-link" href="/">Home</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/#about">AboutUs</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/services">Services</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/#testimonial">Clients</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/#work">Work</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#developer">Developer</a>
									</li>
									<li class="nav-item">
										<a href="#contact" class="btn btn-slider pink-btn rounded-pill">Contact</a>
									</li>
								</ul>
							</div>

							<div class="social-icons text-right p-0">
								<div class="banner-icons">
									<a target="_blank" href="https://www.facebook.com/profile.php?id=100009940804768"><i
											class="fa fa-facebook-f icons fb"></i></a>
									<a target="_blank" href="https://twitter.com/Akash_Garg1998?s=08"><i
											class="fa fa-twitter icons twt"></i></a>
									<a target="_blank" href="https://www.instagram.com/garg123akash/"><i
											class="fa fa-instagram icons inst"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<a href="javascript:void(0)" class="sidemenu_btn display-menu" id="sidemenu_toggle">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</nav>

		<!--Side Nav-->
		<div class="side-menu hidden">
			<div class="inner-wrapper">
				<span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
				<nav class="side-nav w-100">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link scroll" href="/#home">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link scroll" href="/#about">AboutUs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/services">Services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link scroll" href="/#testimonial">Clients</a>
						</li>
						<li class="nav-item">
							<a class="nav-link scroll" href="/#work">Work</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#developer">Developer</a>
						</li>
						<li class="nav-item">
							<a href="/#contact" class="btn btn-slider white-btn rounded-pill">Contact</a>
						</li>
					</ul>
				</nav>

				<div class="side-footer w-100">
					<div class="banner-icons">
						<a target="_blank" href="https://www.facebook.com/profile.php?id=100009940804768"><i
								class="fa fa-facebook-f icons fb"></i></a>
						<a target="_blank" href="https://twitter.com/Akash_Garg1998?s=08"><i
								class="fa fa-twitter icons twt"></i></a>
						<a target="_blank" href="https://www.instagram.com/garg123akash/"><i
								class="fa fa-instagram icons inst"></i></a>
					</div>
					<p>&copy; 2020 All rights Reserved.</p>
				</div>
			</div>
		</div>
		<a id="close_side_menu" href="javascript:void(0);"></a>
		<!-- End side menu -->
	</header>

	<section id="developer" class="feature">
		<div class="container">
			<div style="background-color: #F8F9FA; padding: 50px;" class="row">
				<div class="col-12 col-md-3">
					<img class="dev-box" src="digital-marketing/img/dev.jpg" alt="img">
				</div>

				<div class="col-12 col-md-9">
					<h4 style="text-align: center;"><strong>Raghav Agrawal</strong></h4>
					<h6 style="text-align: center;">Website Developer</h6>
					<hr style="width: 70%;">
					<p>Website Developer with a demonstrated history of working in JavaScript, ES6, ReactJs, Bootstrap4,
						HTML5 & CSS3. Strong engineering professional with a Bachelor of Technology - BTech focused on
						Computer Science from GLA University. </p>
					<div>
						<div class="icon-circle">
							<div class="icon-item"><i class="fa fa-mobile" aria-hidden="true"></i></div>
						</div><span class="icon-text">+91 - 8630422423</span>
					</div>
					<div>
						<div class="icon-circle">
							<div class="icon-item"><i class="fa fa-home" aria-hidden="true"></i></div>
						</div><span class="icon-text">Hno. 3325, Kharot Gate, Baldev Ganj, Kosi Kalan.</span>
					</div>
					<div>
						<div style="margin-top: 20px;" class="icon-circle">
							<div class="icon-item"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
						</div><span class="icon-text">agrawalrahav669@gmail.com</span>
					</div>
					<a target="_blank" href="https://www.linkedin.com/in/raghavagrawal1998/">
						<div class="icon-circle-social icon-circle-social-li">
							<div class="icon-item"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
						</div>
					</a>
					<a target="_blank" href="https://www.facebook.com/raghav.agrawal.562">
						<div class="icon-circle-social icon-circle-social-fb">
							<div class="icon-item"><i class="fa fa-facebook" aria-hidden="true"></i></div>
						</div>
					</a>
					<a target="_blank" href="https://www.instagram.com/raghav_rv98/">
						<div class="icon-circle-social icon-circle-social-insta">
							<div class="icon-item"><i class="fa fa-instagram" aria-hidden="true"></i></div>
						</div>
					</a>
				</div>
			</div>
	</section>

	<section id="contact" class="contact">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="main-heading text-black">Interested?<br>Let's Get In Touch</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-7">
					<form class="contact-form" method="post" action="/">
						<div class="row mt-5">
							<div class="col-sm-12" id="result"></div>
						</div>
						<div class="row">
							<div class="col-12 col-md-5">
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Your Name" required
										name="name">
								</div>

								<div class="form-group">
									<input class="form-control" type="email" placeholder="Email Address*" required
										name="emailId">
								</div>

								<div class="form-group ">
									<input class="form-control" type="tel" name="phone" pattern="[1-9]{1}[0-9]{9}"
										title="Enter 10 digit mobile number" placeholder="Phone Number" required>
								</div>
							</div>

							<div class="col-12 col-md-7">
								<div class="form-group ">
									<textarea class="form-control" placeholder="Your Message" required rows="7"
										name="msg"></textarea>
								</div>
							</div>
						</div>

						<button type="submit" class="btn btn-slider pink-btn rounded-pill w-100"> <b>Send
								Message</b></button>
					</form>
				</div>

				<div class="col-12 col-md-5 mt-5">
					<div class="address-part ml-3">
						<div class="address d-flex mb-4">
							<i class="fas fa-map-marker-alt address-icon mr-3"></i>
							<p>H.No. 2701, 5 haveli, bihari pura <br> kosi kalan 281403</p>
						</div>
						<div class="address d-flex mb-4">
							<i class="fas fa-phone-volume address-icon mr-3"></i>
							<p>+91-8266061901</p>
						</div>
						<div class="address d-flex mr-3">
							<i class="fas fa-paper-plane address-icon mr-3"></i>
							<p>teamletscipher@gmail.com</p>
						</div>
					</div>

					<div class="plant1">
						<div class="plant-contact">
							<img src="digital-marketing/img/contact-plant.png" alt="img">
						</div>
						<div class="shadow-contact">
							<img src="digital-marketing/img/shadow-contact.png" alt="img">
						</div>
					</div>
				</div>
			</div>

			<!--        FOOTER SECTION ROW-->
			<div class="row footer">
				<div class="col-12 col-md-5">
					<!-- <ul class="footer_ul mb-50">
                    <li class="footer_list"><i class="fa fa-facebook-f fb"></i></li>
                    <li class="footer_list"><i class="fa fa-twitter twt"></i></li>
                    <li class="footer_list"><i class="fa fa-google-plus gogle"></i></li>
                    <li class="footer_list"><i class="fa fa-linkedin-in link"></i></li>
                    <li class="footer_list"><i class="fa fa-instagram inst"></i></li>
                    <li class="footer_list"><i class="las la-envelope gmail"></i></li>
                </ul> -->
					<p class="info footer_text ml-3"><i class="far fa-copyright"></i> 2020. All Rights Reserved.</p>

				</div>
			</div>

		</div>
		<svg class="right-square contact-square" viewBox="0 0 150 390" xmlns="http://www.w3.org/2000/svg">
			<rect x="0" y="32" width="1616" height="1616" rx="18" ry="18" fill="#000" transform="rotate(-45 310 100)" />
		</svg>
	</section>


	<script
		async>(function (w, d) { w.CollectId = "5f2a3e2bcac8ec33b6a2c36b"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script>

	<!-- JavaScript -->
	<script src="vendor/js/bundle.min.js"></script>

	<!-- Plugin Js -->
	<script src="vendor/js/owl.carousel.min.js"></script>
	<script src="vendor/js/jquery.cubeportfolio.min.js"></script>
	<script src="vendor/js/parallaxie.min.js"></script>

	<!-- custom script -->
	<script src="digital-marketing/js/jquery.fancybox.js"></script>
	<script src="digital-marketing/js/jquery.fancybox.min.js"></script>
	<script src="vendor/js/owl.carousel.min.js"></script>
	<script src="digital-marketing/js/mediaelement-and-player.min.js"></script>
	<script src="digital-marketing/js/tilt.jquery.js"></script>
	<script src="vendor/js/contact_us.js"></script>
	<script src="digital-marketing/js/script.js"></script>
</body>

</html>