<section id="contact" class="contact">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="main-heading text-black">Interested?<br>Let's Get In Touch</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-7">
        <form class="contact-form" method="post" action="/">
          <div class="row mt-5">
            <div class="col-sm-12" id="result"></div>
          </div>
          <div class="row">
            <div class="col-12 col-md-5">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Your Name" required name="name">
              </div>

              <div class="form-group">
                <input class="form-control" type="email" placeholder="Email Address*" required name="emailId">
              </div>

              <div class="form-group ">
                <input class="form-control" type="tel" name="phone" pattern="[1-9]{1}[0-9]{9}"
                  title="Enter 10 digit mobile number" placeholder="Phone Number" required>
              </div>
            </div>

            <div class="col-12 col-md-7">
              <div class="form-group ">
                <textarea class="form-control" placeholder="Your Message" required rows="7" name="msg"></textarea>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-slider pink-btn rounded-pill w-100"> <b>Send
              Message</b></button>
        </form>
      </div>

      <div class="col-12 col-md-5 mt-5">
        <div class="address-part ml-3">
          <div class="address d-flex mb-4">
            <i class="fa fa-home address-icon mr-3"></i>
            <p>kosi kalan (Mathura) 281403</p>
          </div>
          <div class="address d-flex mb-4">
            <i class="fa fa-phone address-icon mr-3"></i>
            <p>+91-8630422423</p>
          </div>
          <div class="address d-flex mr-3">
            <i class="fa fa-envelope address-icon mr-3"></i>
            <p>teamletscipher@gmail.com</p>
          </div>
        </div>
        <div class="plant1">
          <div class="plant-contact">
            <img src="digital-marketing/img/contact-plant.png" alt="digital marketing">
          </div>
          <div class="shadow-contact">
            <img src="digital-marketing/img/shadow-contact.png" alt="website development">
          </div>
        </div>
      </div>
    </div>

    <!--        FOOTER SECTION ROW-->
    <div class="row footer">
      <div class="col-12 col-md-5">
        <p class="info footer_text ml-3"><i class="fa fa-copyright"></i> letscipher. All Rights Reserved.
        </p>

      </div>
    </div>

  </div>
  <svg class="right-square contact-square" viewBox="0 0 150 390" xmlns="http://www.w3.org/2000/svg">
    <rect x="0" y="32" width="1616" height="1616" rx="18" ry="18" fill="#000" transform="rotate(-45 310 100)" />
  </svg>
</section>