<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Letscipher">
    <!-- description -->
    <meta name="description"
        content="Welcome to letscipher.com, your best place for all website & App related Queries. We're dedicated to providing you the very best of static and dynamic websites, with an emphasis on Hard coded, Wordpress and optimised SEO for your websites.">

    <!-- googlewebmaster google-site-verification -->
    <meta name="google-site-verification" content="Egz5tr8uUaRFwbud6pdxrJod0mYDKm7ytvAf3ozupgA" />

    <!-- keywords -->
    <meta name="keywords"
        content="Web Designing in Kosi kalan, Website Development in Kosi kalan, Responsive Web Design in Kosi kalan, website developer in kosi kalan, free website development in kosi kalan">

    <!-- Page Title -->
    <title>letscipher-Home | Website development in Kosi kalan | Website Designing in Kosi kalan | Wesite Designer in
        Kosi kalan | Free Website in kosi kalan</title>

    <!-- Favicon -->
    <link rel="icon" href="digital-marketing/img/logo.png">

    <!-- Bundle -->
    <link rel="stylesheet" href="vendor/css/bundle.min.css">

    <!-- Plugin Css -->
    <link rel="stylesheet" href="vendor/css/owl.carousel.min.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Style Sheet -->
    <link rel="stylesheet" href="digital-marketing/css/style.css">
    <style>
        @media screen and (min-width: 768px) {
            .mentor-box {
                height: 250px;
                border: 1px solid;
                width: 50%;
                box-shadow: 1px 3px 5px rgba(255, 193, 7, 0.6);
                border-radius: 16px;
            }

            .display-menu {
                display: none;
            }
        }

        .about-icon {
            font-size: 15px;
            opacity: 0.7;
            margin-right: 5px;
        }


        @media screen and (max-width: 769px) {
            .mentor-box {
                height: 285px;
                border: 1px solid;
                width: 80%;
                box-shadow: 1px 3px 5px rgba(255, 193, 7, 0.6);
                border-radius: 16px;
            }

            .small-logo {
                max-width: 180px;
                margin-top: -63px !important;
            }
        }

        .about-img {
            border-radius: 10px;
            height: 300px;
        }

        .social-icons {
            position: absolute;
            right: 40px;
        }

        .float {
            position: fixed;
            bottom: 40px;
            right: 40px;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            cursor: pointer;
            z-index: 100;
        }

        .float:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-175384234-1"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-175384234-1');
    </script>

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="150">

    <!--  PRELOADER  -->
    <div class="loader-area">
        <div class='loader'>
            <div class='one'></div>
            <div class='two'></div>
            <div class='three'></div>
        </div>
    </div>

    <!-- START NAVBAR SECTION -->
    <% include header %>

        <section id="home" class="home">
            <div class="container">
                <div class="row height">
                    <div class="col-12 col-md-6 height d-flex align-items-center text-left">
                        <div class="text d-flex align-items-center">
                            <div class="home-text text-black height1">
                                <h6 class="sub-heading mb-2">Beautiful and Responsive</h6>
                                <h1 class="main-heading mb-0">Creative Websites</h1>
                                <h4 class="heading mb-3">Simple & Easy</h4>
                                <!-- <a href="#work" class="btn btn-slider pink-btn rounded-pill scroll">Our Latest Work</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="large-logo">
                            <img src="digital-marketing/img/logo-large.png" alt="web design">
                        </div>

                        <div class="plant1">
                            <div class="large-icon plant-home">
                                <img src="digital-marketing/img/plant1.png" alt="websites">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <svg class="yellow-square" viewBox="0 0 200 655" xmlns="http://www.w3.org/2000/svg">
                <rect x="0" y="32" width="1616" height="1616" rx="28" ry="28" fill="#ffc107"
                    transform="rotate(-45 200 100)" />
            </svg>

            <svg class="left-square small-view" viewBox="0 0 310 655" xmlns="http://www.w3.org/2000/svg">
                <rect x="0" y="32" width="1616" height="1616" rx="48" ry="48" fill="#fa2851"
                    transform="rotate(135 100 245)" />
            </svg>

        </section>

        <section id="about" class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 text-center">
                        <div class="text">
                            <div class="home-text text-black">
                                <h1 class="main-heading mb-4">Who are we</h1>
                                <p class="sub-heading mb-4">“We don't just build websites, we build websites that SELLS”
                                </p>
                                <a href="#contact" class="btn btn-slider pink-btn rounded-pill">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-40">

                    <div class="col-12 col-md-8">

                        <p class="sub-heading mb-3">

                            Welcome to letscipher.com, your best place for all website & App related Queries. We're
                            dedicated to providing you the very best of static and dynamic websites, with an emphasis on
                            Hard coded, Wordpress and optimised SEO for your websites.<br><br>
                            <i class="about-icon fa fa-chevron-right" aria-hidden="true"></i>Founded by Raghav agrawal,
                            Raghav Agrawal has
                            come a long way from its beginnings in Kosi kalan (Mathura). <br><br>
                            <i class="about-icon fa fa-chevron-right" aria-hidden="true"></i>When we first started out,
                            our
                            passion for
                            making websites for people who start their own business.<br><br>
                            <i class="about-icon fa fa-chevron-right" aria-hidden="true"></i>We hope you enjoy our
                            products
                            as much as
                            we enjoy offering them to you. If you have any questions or comments, please don't hesitate
                            to
                            contact us.<br>
                        </p>

                    </div>

                    <div class="col-12 col-md-4">

                        <div>
                            <img class="about-img" src="digital-marketing/img/about.jpeg" alt="SEO">
                        </div>

                    </div>

                </div>
            </div>
        </section>

        <section id="stats" class="stats">
            <div class="container">
                <div class="row m-0">
                    <div class="col-lg-6 offset-lg-4 col-md-10 offset-md-0 col-sm-12 text-left p-0">
                        <div class="stats-text">
                            <div class="home-text text-black">
                                <h1 class="sub-heading">Let us show you some stats</h1>
                                <h1 class="main-heading mt-3 mb-4">We have done great stuff over the past few months.
                                </h1>
                                <p class="sub-heading mb-3">“Learning HTML and CSS is a lot more challenging than it
                                    used to
                                    be. Responsive web design adds more layers of complexity to design and develop
                                    websites.”</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="plant-img">
                            <div class="plant">
                                <img src="digital-marketing/img/plant.jpg" alt="kosi kalan">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-40">
                    <div class="col-lg-8 offset-lg-4 col-md-12 offset-md-0 col-sm-12">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="stats-box d-flex">
                                    <div class="stats-icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <div class="stats-box-text ml-4">
                                        <h1 class="numbering">10+</h1>
                                        <p class="sub-heading">Happy Clients</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 mt-4 mt-md-0">
                                <div class="stats-box d-flex">
                                    <div class="stats-icon">
                                        <i class="fa fa-code"></i>
                                    </div>
                                    <div class="stats-box-text ml-4">
                                        <h1 class="numbering">10740+</h1>
                                        <p class="sub-heading">Lines of Code</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 mt-4 mt-md-0">
                                <div class="stats-box d-flex">
                                    <div class="stats-icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="stats-box-text ml-4">
                                        <h1 class="numbering">8+</h1>
                                        <p class="sub-heading">Project Completed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <svg class="left-square stats" viewBox="0 0 310 655" xmlns="http://www.w3.org/2000/svg">
                <rect x="0" y="32" width="1616" height="1616" rx="48" ry="48" fill="#fa2851"
                    transform="rotate(135 100 245)" />
            </svg>

        </section>

        <section id="team" class="team">
            <div class="container">

                <div class="row">
                    <div style="text-align: center;" class="col-sm-12 col-md-6">
                        <div class="team-text text-black">
                            <h1 class="main-heading mb-3">Our Mentor</h1>
                            <p class="sub-heading mb-4">"If your actions inspire others to dream more, learn more, do
                                more
                                and become more, you are a leader." ...</p>
                        </div>
                        <img class="mentor-box" src="digital-marketing/img/raghavteam.jpg" alt="website design">
                        <br><br>
                        <div class="name-img">
                            <img style="margin-left: 25px;" src="digital-marketing/img/shape-team.png"
                                alt="Raghav Agrawal">
                            <h3 class="name mb-0">Raghav Agrawal</h3>
                        </div>

                    </div>
                </div>
            </div>

            <svg class="right-square team" viewBox="0 0 280 655" xmlns="http://www.w3.org/2000/svg">
                <rect x="0" y="32" width="1616" height="1616" rx="48" ry="48" fill="#ffc107"
                    transform="rotate(-45 310 100)" />
            </svg>
            <svg class="right-square team small-view" viewBox="0 0 280 655" xmlns="http://www.w3.org/2000/svg">
                <rect x="0" y="32" width="1616" height="1616" rx="48" ry="48" fill="#fa2851"
                    transform="rotate(-45 310 100)" />
            </svg>
        </section>

        <section id="design" class="design">

            <div class="col-lg-6 offset-lg-4 col-md-6 offset-md-4 col-sm-12 text-left p-0">
                <div class="stats-text pl-3 pl-md-5">
                    <div class="home-text text-black">
                        <h1 class="main-heading mt-3 mb-4"><span class="text-yellow">Robust Design</span> and
                            Development
                            Solutions</h1>
                        <h1 class="sub-heading">A website is crucial to any business, large or small.</h1>
                        <p class="sub-heading mb-3">
                            A website needs to be fast, friendly and fashionable. It’s the first place clients come to
                            gage
                            an idea on who you are and what you are about. This is where we come in. Over the years
                            we’ve
                            developed an eager eye for a good website and have been keen to replicate these for our own
                            clients. From the slickest graphics to responsive designs, we can build a Robust website for
                            your needs.</p>
                        <a href="#contact" class="btn btn-main pink-btn rounded-pill mt-3">Start Now</a>
                    </div>
                </div>
            </div>

            <svg class="left-square design" viewBox="0 0 310 655" xmlns="http://www.w3.org/2000/svg">
                <rect x="0" y="32" width="1616" height="1616" rx="48" ry="48" fill="#000"
                    transform="rotate(135 100 245)" />
            </svg>

            <svg class="right-square small-blog small-view" viewBox="0 0 312 600" xmlns="http://www.w3.org/2000/svg">
                <rect x="0" y="32" width="1616" height="1616" rx="48" ry="48" fill="#ffc107"
                    transform="rotate(-45 310 100)" />
            </svg>

        </section>

        <section id="testimonial" class="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8 col-lg-6">
                        <h1 class="main-heading text-center text-black">Wonderful Words</h1>
                        <div id="testimonial-carousal"
                            class="owl-carousel owl-theme testimonial-owl pt-5 pb-5 text-center">

                            <!-- <div class="item">
                            <div class="quotes mb-4">
                                <i class="fa fa-quote-right"></i>
                            </div>

                            <div class="description pl-0 pr-0 pl-md-4 pr-md-4 mb-4">
                                <p class="text-black sub-heading">Their team were easy to work with and helped me make a
                                    terrific website in a short amount of time.<br>

                                    Thanks again guys for all your hard work I will recommend you to all my friends!"
                                </p>
                            </div>
                            <div class="testimonial-img mt-2">
                                <img style="border-radius: 50%;" src="digital-marketing/img/raghav.jpg"
                                    alt="clients">
                            </div>
                            <div class="testimonial-tittle mt-3 mb-3">
                                <h3 class="mb-0">Raghav Agrawal</h3>
                            </div>
                        </div> -->

                            <div class="item">
                                <div class="quotes mb-4">
                                    <i class="fa fa-quote-right"></i>
                                </div>

                                <div class="description pl-0 pr-0 pl-md-4 pr-md-4 mb-4">
                                    <p class="text-black sub-heading">We had high expectations for the visual look and
                                        functionality of astrolive.herokuapp.com and they met and exceeded our
                                        expectations.
                                        We look
                                        forward to working with them in the near future on another project.<br>

                                        Thanks Guys"</p>
                                </div>
                                <div class="testimonial-img mt-2">
                                    <img style="border-radius: 50%;" src="digital-marketing/img/ashish.jpg"
                                        alt="clients">
                                </div>
                                <div class="testimonial-tittle mt-3 mb-3">
                                    <h3 class="mb-0">Dr. Ashish Sharma</h3>
                                </div>
                            </div>

                            <div class="item">
                                <div class="quotes mb-4">
                                    <i class="fa fa-quote-right"></i>
                                </div>

                                <div class="description pl-0 pr-0 pl-md-4 pr-md-4 mb-4">
                                    <p class="text-black sub-heading">"If you're starting a new business or upgrading an
                                        existing site, I strongly recommend using WebDesign Enterprise. The employees
                                        are
                                        friendly, knowledgeable, and dedicated to producing a high quality product.</p>
                                </div>
                                <div class="testimonial-img mt-2">
                                    <img style="border-radius: 50%;" src="digital-marketing/img/piyush.jpg"
                                        alt="clients">
                                </div>
                                <div class="testimonial-tittle mt-3 mb-3">
                                    <h3 class="mb-0">Piyush</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <svg class="right-square test" viewBox="0 0 312 600" xmlns="http://www.w3.org/2000/svg">
                <rect x="0" y="32" width="1616" height="1616" rx="48" ry="48" fill="#fa2851"
                    transform="rotate(-45 310 100)" />
            </svg>

            <svg class="left-square gallery small-view" viewBox="0 0 310 655" xmlns="http://www.w3.org/2000/svg">
                <rect x="0" y="32" width="1616" height="1616" rx="48" ry="48" fill="#fa2851"
                    transform="rotate(135 100 245)" />
            </svg>

        </section>

        <!-- <section id="work" class="blog">
        <div class="container">
            <div class="row m-0">
                <div class="col-lg-6 offset-lg-4 col-md-12 offset-md-0 col-sm-12 text-left p-0">
                    <div class="home-text text-black">
                        <h1 class="main-heading mt-3 mb-4">Latest Web Design and Development</h1>
                        <p class="sub-heading mb-3">“The future depends on what you do today. Don't wait. The time will
                            never be just right.”
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt-40">
                <div class="col-lg-8 offset-lg-4 col-md-12 offset-md-0 p-0">
                    <div class="blog-owl owl-carousel owl-theme no-gutters blog-area" id="blog-carousal">

                        <div class="item blog-item">
                            <div class="blog-img">
                                <a target="_blank" href="http://www.atozonlinemart.com/">
                                    <img src="digital-marketing/img/atozonlinemart.png" alt="atozonlinemart"></a>
                            </div>

                            <div class="blog-text text-center text-md-left">
                                <div class="info-blog">
                                    <a target="_blank" href="http://www.atozonlinemart.com/">
                                        <h4>AtoZ onlinemart</h4>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="item blog-item">
                            <div class="blog-img">
                                <a target="_blank" href="https://astrolive.herokuapp.com/">
                                    <img src="digital-marketing/img/astrolive.png" alt="astrology"></a>
                            </div>

                            <div class="blog-text text-center text-md-left">
                                <div class="info-blog">
                                    <a target="_blank" href="https://astrolive.herokuapp.com/">
                                        <h4>Astrolive</h4>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="item blog-item">
                            <div class="blog-img">
                                <a target="_blank" href="https://adityacommerceclassesdummy.herokuapp.com/">
                                    <img src="digital-marketing/img/adityacommerceclasses.png" alt="adityacommerceclasses"></a>
                            </div>

                            <div class="blog-text text-center text-md-left">
                                <div class="info-blog">
                                    <a target="_blank" href="https://adityacommerceclassesdummy.herokuapp.com/">
                                        <h4>Aditya Commerce Classes</h4>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="item blog-item">
                            <div class="blog-img">
                                <a target="_blank" href="http://blackreddish.herokuapp.com/">
                                    <img src="digital-marketing/img/blackreddish.png" alt="blackreddish"></a>
                            </div>

                            <div class="blog-text text-center text-md-left">
                                <div class="info-blog">
                                    <a target="_blank" href="http://blackreddish.herokuapp.com/">
                                        <h4>Blackreddish</h4>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="item blog-item">
                            <div class="blog-img">
                                <a target="_blank" href="https://realestatedummy.herokuapp.com/">
                                    <img src="digital-marketing/img/chitvan.png" alt="chitvan"></a>
                            </div>

                            <div class="blog-text text-center text-md-left">
                                <div class="info-blog">
                                    <a target="_blank" href="https://realestatedummy.herokuapp.com/">
                                        <h4>Chitvan</h4>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="item blog-item">
                            <div class="blog-img">
                                <a target="_blank" href="https://qafila19.herokuapp.com/">
                                    <img src="digital-marketing/img/qafila.png" alt="qafila"></a>
                            </div>

                            <div class="blog-text text-center text-md-left">
                                <div class="info-blog">
                                    <a target="_blank" href="https://qafila19.herokuapp.com/">
                                        <h4>Qafila</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg class="left-square blog" viewBox="0 0 310 655" xmlns="http://www.w3.org/2000/svg">
            <rect x="0" y="32" width="1616" height="1616" rx="48" ry="48" fill="#ffc107"
                transform="rotate(135 100 245)" />
        </svg>

        <svg class="right-square small-blog small-view" viewBox="0 0 312 600" xmlns="http://www.w3.org/2000/svg">
            <rect x="0" y="32" width="1616" height="1616" rx="48" ry="48" fill="#ffc107"
                transform="rotate(-45 310 100)" />
        </svg>

    </section> -->

        <% include footer %>

            <!-- <script
        async>(function (w, d) { w.CollectId = "5f2a3e2bcac8ec33b6a2c36b"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script> -->

            <div class="float"><a href="https://api.whatsapp.com/send?phone=918630422423"><img
                        src="digital-marketing/img/whatsapp.png" alt="whatsapp chat bot"></a></div>

            <!-- JavaScript -->
            <script src="vendor/js/bundle.min.js"></script>

            <!-- Plugin Js -->
            <script src="vendor/js/owl.carousel.min.js"></script>
            <script src="vendor/js/jquery.cubeportfolio.min.js"></script>
            <script src="vendor/js/parallaxie.min.js"></script>

            <!-- custom script -->
            <script src="digital-marketing/js/jquery.fancybox.js"></script>
            <script src="digital-marketing/js/jquery.fancybox.min.js"></script>
            <script src="vendor/js/owl.carousel.min.js"></script>
            <script src="digital-marketing/js/mediaelement-and-player.min.js"></script>
            <script src="digital-marketing/js/tilt.jquery.js"></script>
            <script src="vendor/js/contact_us.js"></script>
            <script src="digital-marketing/js/script.js"></script>
</body>

</html>