<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Themes Industry">
	<!-- description -->
	<meta name="description"
		content="Welcome to letscipher.com, your best place for all website & App related Queries. We're dedicated to providing you the very best of static and dynamic websites, with an emphasis on Hard coded, Wordpress and optimised SEO for your websites.">

	<!-- googlewebmaster google-site-verification -->
	<meta name="google-site-verification" content="Egz5tr8uUaRFwbud6pdxrJod0mYDKm7ytvAf3ozupgA" />

	<!-- keywords -->
	<meta name="keywords"
		content="Website development in kosi kalan, website developer jobs in kosi kalan, website desining in kosi kalan, website developer, intership in website development in kosi kalan">

	<!-- Page Title -->
	<title>letscipher-JoinUs | Website Development in Kosi kalan | website developer jobs in kosi kalan | intership in
		website development</title>

	<!-- Favicon -->
	<link rel="icon" href="digital-marketing/img/logo.png">

	<!-- Bundle -->
	<link rel="stylesheet" href="vendor/css/bundle.min.css">

	<!-- fontawesome -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Plugin Css -->
	<link rel="stylesheet" href="vendor/css/owl.carousel.min.css">

	<!-- Style Sheet -->
	<link rel="stylesheet" href="digital-marketing/css/style.css">
	<style>
		@media screen and (min-width: 768px) {
			.display-menu {
				display: none;
			}

			.joinUs-img {
				width: 100%;
				position: relative;
			}

			.outer-box {
				padding: 50px;
				border-radius: 16px;
				position: absolute;
				transform: translate(-50%, 0%);
				top: 40%;
				left: 50%;
				z-index: 100;
			}

			.btn-margin-top {
				margin-top: 50px;
			}

		}

		@media screen and (max-width: 769px) {
			.small-logo {
				max-width: 180px;
				margin-top: -63px !important;
			}

			.joinUs-img {
				display: none;
				width: 100%;
				position: relative;
			}

			.outer-box {
				padding: 50px;
				border-radius: 16px;
			}
		}

		.float {
			position: fixed;
			bottom: 40px;
			right: 40px;
			border-radius: 50%;
			width: 60px;
			height: 60px;
			cursor: pointer;
			z-index: 100;
		}

		.float:hover {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
	</style>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script src="https://www.googletagmanager.com/gtag/js?id=UA-175384234-1"></script>

	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-175384234-1');
	</script>

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="150">

	<!--  PRELOADER  -->
	<div class="loader-area">
		<div class='loader'>
			<div class='one'></div>
			<div class='two'></div>
			<div class='three'></div>
		</div>
	</div>

	<!-- START NAVBAR SECTION -->

	<% include header %>

	<section id="joinUs" class="feature">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h1 class="main-heading text-black">Work with us</h1>
				</div>
			</div>
			<div class="row outer-box">
				<form style="text-align: center;" class="col-12 col-md-12" method="post" action="/joinUs">
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="form-group">
								<input class="form-control" type="text" placeholder="Your Name" required name="name">
							</div>

							<div class="form-group">
								<input class="form-control" type="email" placeholder="Email Address" required name="emailId">
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group ">
								<input class="form-control" type="tel" name="phone" pattern="[1-9]{1}[0-9]{9}"
									title="Enter 10 digit mobile number" placeholder="Phone Number" required>
							</div>

							<div class="form-group">
								<select class="form-control" type="email" required name="interests">
									<option value="">Your Interest</option>
									<option value="html/css/bootstrap">HTML/CSS/Bootstrap</option>
									<option value="javascript">JavaScript</option>
									<option value="react.js">React.js</option>
									<option value="wordpress">Wordpress</option>
									<option value="node.js">Node.js</option>
									<option value="mongodb">MongoDB</option>
									<option value="mysql">MySQL</option>
									<option value="aws">AWS</option>
									<option value="cyberSecurity">Cyber Security</option>
									<option value="seo">SEO</option>
									<option value="basicWebsiteDevelopment">Basic website Development</option>
								</select>
							</div>
						</div>
					</div>

					<button style="text-align: end;" type="submit"
						class="btn btn-slider pink-btn rounded-pill w-20 btn-margin-top">
						<b>Join the team</b></button>
				</form>
			</div>
			<img class="joinUs-img" src="digital-marketing/img/joinUs.jpg">
		</div>
	</section>

	<% include footer %>

	<!-- <script
		async>(function (w, d) { w.CollectId = "5f2a3e2bcac8ec33b6a2c36b"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script> -->

	<div class="float"><a href="https://api.whatsapp.com/send?phone=918630422423"><img
				src="digital-marketing/img/whatsapp.png" alt="whatsapp chat bot"></a></div>


	<!-- JavaScript -->
	<script src="vendor/js/bundle.min.js"></script>

	<!-- Plugin Js -->
	<script src="vendor/js/owl.carousel.min.js"></script>
	<script src="vendor/js/jquery.cubeportfolio.min.js"></script>
	<script src="vendor/js/parallaxie.min.js"></script>

	<!-- custom script -->
	<script src="digital-marketing/js/jquery.fancybox.js"></script>
	<script src="digital-marketing/js/jquery.fancybox.min.js"></script>
	<script src="vendor/js/owl.carousel.min.js"></script>
	<script src="digital-marketing/js/mediaelement-and-player.min.js"></script>
	<script src="digital-marketing/js/tilt.jquery.js"></script>
	<script src="vendor/js/contact_us.js"></script>
	<script src="digital-marketing/js/script.js"></script>
</body>

</html>