<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Themes Industry">
    <!-- description -->
    <meta name="description"
        content="Welcome to letscipher.com, your best place for all website & App related Queries. We're dedicated to providing you the very best of static and dynamic websites, with an emphasis on Hard coded, Wordpress and optimised SEO for your websites.">

    <!-- googlewebmaster google-site-verification -->
    <meta name="google-site-verification" content="Egz5tr8uUaRFwbud6pdxrJod0mYDKm7ytvAf3ozupgA" />

    <!-- keywords -->
    <meta name="keywords"
        content="Website development in kosi kalan, website services in kosi kalan, SEO services in kosi kalan, website developer in kosi kalan, web services in kosi kalan, App development in kosi kalan, Wordpress developer in kosi kalan">

    <!-- Page Title -->
    <title>letscipher-Services | Web services in Kosi kalan | Website Development in Kosi kalan | Website services in
        kosi kalan | App development in kosi kalan | SEO in kosi kalan</title>

    <!-- Favicon -->
    <link rel="icon" href="digital-marketing/img/logo.png">

    <!-- Bundle -->
    <link rel="stylesheet" href="vendor/css/bundle.min.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="vendor/css/owl.carousel.min.css">

    <!-- Style Sheet -->
    <link rel="stylesheet" href="digital-marketing/css/style.css">

    <style>
        @media screen and (min-width: 768px) {

            .display-menu {
                display: none;
            }
        }

        @media screen and (max-width: 769px) {

            .small-logo {
                max-width: 180px;
                margin-top: -63px !important;
            }
        }

        .icon-size {
            font-size: 40px;
        }

        .float {
            position: fixed;
            bottom: 40px;
            right: 40px;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            cursor: pointer;
            z-index: 100;
        }

        .float:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-175384234-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-175384234-1');
    </script>

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="150">

    <!--  PRELOADER  -->
    <div class="loader-area">
        <div class='loader'>
            <div class='one'></div>
            <div class='two'></div>
            <div class='three'></div>
        </div>
    </div>

    <!-- START NAVBAR SECTION -->

    <% include header %>

    <section id="services" class="feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 text-center">
                    <div class="text">
                        <div class="home-text text-black">
                            <h1 class="main-heading mb-4">What we offers</h1>
                            <p class="sub-heading mb-4">“customer satisfaction is our priority”</p>
                            <a href="#contact" class="btn btn-slider pink-btn rounded-pill">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-90">
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <div class="card box text-center">
                        <div class="feature-icon text-center">
                            <i class="fa fa-code icon-size" aria-hidden="true"></i>
                        </div>
                        <div class="card-body">
                            <p class="card-text sub-heading text-black">Hard Code Websites</p>
                            <p class="card-text sub-heading text-black">Static as well as Dynamic websites.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 mt-5 mt-md-0 mb-3 mb-md-0">
                    <div class="card box text-center">
                        <div class="feature-icon text-center center">
                            <i style="color: black;" class="fa fa-wordpress icon-size" aria-hidden="true"></i>
                        </div>
                        <div class="card-body">
                            <p class="card-text sub-heading text-black">Wordpress Websites</p>
                            <p class="card-text sub-heading text-black">Static as well as Dynamic websites.</p>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-4 mt-5 mt-md-0">
                    <div class="card box text-center">
                        <div class="feature-icon text-center">
                            <i class="fa fa-search icon-size" aria-hidden="true"></i>
                        </div>
                        <div class="card-body">
                            <p class="card-text sub-heading text-black">SEO</p>
                            <p class="card-text sub-heading text-black">Search Engine Optimisation.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mt-90">
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <div class="card box text-center">
                        <div class="feature-icon text-center">
                            <i class="fa fa-shopping-bag icon-size" aria-hidden="true"></i>
                        </div>
                        <div class="card-body">
                            <p class="card-text sub-heading text-black">E-Commerce</p>
                            <p class="card-text sub-heading text-black">Wordpress as well as Hard coded.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 mt-5 mt-md-0 mb-3 mb-md-0">
                    <div class="card box text-center">
                        <div class="feature-icon text-center center">
                            <i style="color: black;" class="fa fa-comments icon-size" aria-hidden="true"></i>
                        </div>
                        <div class="card-body">
                            <p class="card-text sub-heading text-black">Chat-Bot</p>
                            <p class="card-text sub-heading text-black">Chat-Bot for your websites.</p>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-4 mt-5 mt-md-0">
                    <div class="card box text-center">
                        <div class="feature-icon text-center">
                            <i class="fa fa-mobile icon-size" aria-hidden="true"></i>
                        </div>
                        <div class="card-body">
                            <p class="card-text sub-heading text-black">App Development</p>
                            <p class="card-text sub-heading text-black">Mobile Apps <br>(Android or ios).</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mt-90">
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <div class="card box text-center">
                        <div class="feature-icon text-center">
                            <i class="fa fa-cogs icon-size" aria-hidden="true"></i>
                        </div>
                        <div class="card-body">
                            <p class="card-text sub-heading text-black">Customisation</p>
                            <p class="card-text sub-heading text-black">Full customisation on Demand.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 mt-5 mt-md-0 mb-3 mb-md-0">
                    <div class="card box text-center">
                        <div class="feature-icon text-center center">
                            <i style="color: black;" class="fa fa-user icon-size" aria-hidden="true"></i>
                        </div>
                        <div class="card-body">
                            <p class="card-text sub-heading text-black">Support</p>
                            <p class="card-text sub-heading text-black">Dedicated Customer Support.</p>
                        </div>
                    </div>

                </div>

                <div style="z-index: 100;" class="col-12 col-md-4 mt-5 mt-md-0">
                    <div class="card box text-center">
                        <div class="feature-icon text-center">
                            <i class="fa fa-line-chart icon-size" aria-hidden="true"></i>
                        </div>
                        <div class="card-body">
                            <p class="card-text sub-heading text-black">Google Analytics</p>
                            <p class="card-text sub-heading text-black">Analyse website performance.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <% include footer %>

    <!-- <script
        async>(function (w, d) { w.CollectId = "5f2a3e2bcac8ec33b6a2c36b"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script> -->

    <div class="float"><a href="https://api.whatsapp.com/send?phone=918630422423"><img
                src="digital-marketing/img/whatsapp.png" alt="whatsapp Chat Bot"></a></div>


    <!-- JavaScript -->
    <script src="vendor/js/bundle.min.js"></script>

    <!-- Plugin Js -->
    <script src="vendor/js/owl.carousel.min.js"></script>
    <script src="vendor/js/jquery.cubeportfolio.min.js"></script>
    <script src="vendor/js/parallaxie.min.js"></script>

    <!-- custom script -->
    <script src="digital-marketing/js/jquery.fancybox.js"></script>
    <script src="digital-marketing/js/jquery.fancybox.min.js"></script>
    <script src="vendor/js/owl.carousel.min.js"></script>
    <script src="digital-marketing/js/mediaelement-and-player.min.js"></script>
    <script src="digital-marketing/js/tilt.jquery.js"></script>
    <script src="vendor/js/contact_us.js"></script>
    <script src="digital-marketing/js/script.js"></script>
</body>

</html>